<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" >

    <Properties>
        <Property name="product">EMSI-CENTRE</Property>
        <Property name="application">EMSI-CENTRE-JAXB-TP</Property>
        <Property name="level">info</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[${product}][${application}][%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="ma.emsi.centre.springaspectjaop" additivity="false">
            <AppenderRef ref="appLog" />
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="appLog" />
        </Root>
    </Loggers>

</Configuration>
